<!DOCTYPE html>
<html>
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.7/angular.min.js"></script>
<meta charset=utf-8 />
<title>取得被選取的項目</title>
<script>
function MyCtrl($scope, $filter) {
  // fruits
  $scope.fruits = [
    { name: 'apple',    checked: true },
    { name: 'oragne',   checked: false },
    { name: 'pear',     checked: true },
    { name: 'naartjie', checked: false }
  ];
  
  $scope.selectedFruits = function () {
    return $filter('filter')($scope.fruits, {checked: true});
  };
}
</script>
</head>
<body ng-app>
  <div ng-controller="MyCtrl">
    <label ng-repeat="fruit in fruits">
      <input
        type="checkbox"
        value="{{fruit.name}}"
        ng-checked="fruit.checked"
        ng-model="fruit.checked"
      >
      
     <span>{{fruit.name}}</span>
    </label>
  
    <pre>
      <strong>selected with filter:</strong> 
      {{fruits | filter:{checked:true} | json}}
    </pre>
    <pre>
      <strong>selected with helper function:</strong> 
      <!--執行一個function-->
      {{selectedFruits() | json}}
    </pre>
    <pre>
        <strong>all fruits:</strong>
         {{fruits | json}}
    </pre>
  </div>
</body>
</html>