<!DOCTYPE html>
<html ng-app>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  <meta charset=utf-8 />
  <title>To do with remove</title>
</head>
<script type="text/javascript" >

function TodoCrtlRemovable($scope) {
  $scope.newItem = '';
  $scope.todoList = [];
  $scope.addItem = function(){
    if(this.newItem){
       this.todoList.push({label:this.newItem,isFinish:false});
       this.newItem = '';
    }
  }

  $scope.removeItem = function(item){
      item.isFinish = true;
  }
}
</script>
<body ng-controller="TodoCrtlRemovable">
      <h1>Todo List</h1>
      <form ng-submit="addItem()">
        <input type="text" ng-model="newItem" name="newItem" />
        <input type="submit" id="submit" value="新增" />
      </form>
       <ul id="todo">
        <li ng-repeat="item in todoList | filter:{isFinish:false}">
          <input type="checkbox" ng-click="removeItem(item)">
          {{item.label}}
        </li>
      </ul>
      <hr>

      <h1>Finished List</h1>  
      <ul id="finish">
        <li ng-repeat="item in todoList | filter: {isFinish:true}">
          {{item.label}}
        </li>
      </ul>
</body>
</html>